// Colors
// -------------------------
$darkGray: #2b2b2b;
$violet: #6C77CB;
$sea: #49AEB6;
$orange: #E64F1B;
$rose: #F0586C;
$tan: #EEE9DD;
$walnut: #81504D;
$navy: #526271;
$sky: #51adee;
$brick: #A90B00;
$red: #FF1200;

// SNS Colors
// -------------------------
$twitter: #41b7d8;
$facebook: #3b5997;
$google: #d64937;
$linkedIn: #0073b2;
$vimeo: #388fc5;
$flickr: #ff0084;
$pinterest: #cb2027;
$skype: #00aff0;
$rss: #e0812a;

// Color Assignments
// -------------------------
$color1: $violet;
$color2: $rose;
$color3: $sea;
$text: #444;

// Media Query Breakpoints
// -------------------------
$break1: 480px;
$break2: 767px;
$break3: 979px;
$break4: 1024px;
$break5: 1224px;

// Fonts
// -------------------------
$serif: "Roboto Slab", serif;
$sans-serif: "Oswald", "Helvetica Neue", sans-serif;

// Footer
// -------------------------
$footerHeight:  140px;