<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content">
        <span class="section-icon circle"><i class="icon-location"></i></span>
        <h1 class="section-title">The Venue</h1>
        <ul class="venue-images">
          <li class="img-wrapper large"><img src="/images/venue/venue4.jpg"/></li>
          <li class="img-wrapper small"><img src="/images/venue/venue2.jpg"/></li>
        </ul>
        <div class="venue-map">
          <div class="map-wrapper">
            <a class="map-link" href="https://maps.google.com/maps?q=2572+Nambusunhwan-ro+Seocho-gu,+Seoul&hl=en&ll=37.483577,127.030792&spn=0.006096,0.006931&sll=37.431856,126.909377&sspn=0.780789,0.887146&hnear=2572+Nambusunhwan-ro,+Seocho-gu,+Seoul,+South+Korea+(1376-2+Seocho-dong)&t=m&z=16" target="_blank">
              <img src="/images/venue/venue-map.png" alt="Wedding Location"/>
            </a>
          </div>
          <div class="address">
            <div class="english">
              <span class="name">Korea National Diplomatic Academy</span>
              <span class="line1">2572 Nambusunhwan-ro, Seocho-gu</span>
              <span class="line2">Seoul, 137-863, South Korea</span>
            </div>
            <div class="korean">
              <span class="name">국림외교</span>
              <span class="line1">서초구 남부순환로 2572 (서초2동 1376-2)</span>
              <span class="line2">서울시, 137-863, 대한민국</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>