<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content">
        <span class="section-icon circle"><i class="icon-gift"></i></span>
        <h1 class="section-title">The Gift of Giving</h1>
        <p>Pia and I have been together for over 6 years now. During that time, we have accumulated basically every household item you could need. Our apartment can't hold anymore stuff. But if you would like to congratulate us with more than words, in lieu of a registry, we will be accepting cold hard cash. Just click the amount you would like to give below, fill out the form, and click submit. Be sure to leave your name so that we can send you a thank you note later.</p>
        </div>
    </div>
  </div>
</div>
<div stripe-checkout amounts="$30, $50, $100, Other"></div>
  