<div home id="home" class="mobile">
  <section skrollr id="logo">
    <img src="/images/logo.png" data-0="opacity:1;" data-200="opacity:0;"/>
  </section>
  <section id="invitation" ng-include src="'home/templates/invitation.tpl.html'"></section>
  <section id="ceremony" ng-include src="'home/templates/ceremony.tpl.html'"></section>
  <section id="accommodations" ng-include src="'home/templates/accommodations.tpl.html'"></section>
  <section id="reception" ng-include src="'home/templates/reception.tpl.html'"></section>
  <!--<section id="give" ng-include src="'home/templates/give.tpl.html'"></section>-->
  <section id="proposal" ng-include src="'home/templates/proposal.tpl.html'"></section>
  <section id="sns" ng-include src="'home/templates/sns.tpl.html'"></section>
</div>
