<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content">
        <span class="section-icon circle"><i class="icon-heart"></i></span>
        <h1 class="section-title">She said "yes"</h1>
        <p>The day that Pia said yes, I was <a href="http://www.youtube.com/watch?v=kWBhP0EQ1lA" target="_blank">happier than a camel on hump day</a>. But one of the things I learned is that it's usually a bad idea to not have the real ring ready when you propose. Thankfully Pia is awesome and she just laughed it off, but for all you who haven't popped the question yet... make sure you gotta ring to seal the deal with. If you are curious to see what I proposed with, my origami ring makes it's debut at 3:19.</p>
        <div class="video-wrapper">
          <div vimeo src="//player.vimeo.com/video/73007829?byline=0&amp;portrait=0&amp;title=0"></div>
        </div>
      </div>
    </div>
  </div>
</div>