<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content">
        <span class="section-icon circle"><i class="icon-glass"></i></span>
        <h1 class="section-title">The Party</h1>
        <p>Can't get enough of Andre and Pia? Come party with us 'til the wee hours of the morning. This is an all you can drink and all you can eat event. Food is just anju (finger food) so you might want to have dinner before hand. If you are coming to the wedding, you can get your dinner there.</p>
        <h2><label>Start:</label> Saturday October 19, 2013 @ 8:00pm</h2>
        <h2><label>End:</label> pshhh... please... it's a paaaaaarty!</h2>
        <h2><label>Where:</label> Pupus Pub (푸푸스), Galosugil</h2>
        <span class="address">551-11 Sinsa-dong, Gangnam-gu,Seoul, South Korea [<a href="https://maps.google.com/maps?q=551-11+Sinsa-dong,+Gangnam-gu,Seoul,+South+Korea&hl=en&ll=37.522201,127.02369&spn=0.005633,0.011319&sll=37.0625,-95.677068&sspn=45.822921,92.724609&hnear=551-11+Sinsa-dong,+Gangnam-gu,+Seoul,+South+Korea+(57+Nonhyeon-ro+161-gil)&t=m&z=17" title="Pupus Pub Map">map</a>]</span>
        </h2>
      </div>
    </div>
  </div>
</div>